<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <br/>

  <div class="field form-group">
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :CitizenID, class:"form-control", placeholder:"CitizenID" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :login, class:"form-control", placeholder:"Login" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :role, class:"form-control", placeholder:"Role" %>
  </div>
  
  <% if @role == "Student" %>
    <div class="field form-group">
      <%= form.number_field :studentID, value: current_member.id, type: :hidden, class:"form-control", placeholder:"studentID" %>
    </div>
  <% else if @role == "Instructor" %>
    <div class="field form-group">
      <%= form.number_field :instructorID, value: current_member.id, type: :hidden, class:"form-control", placeholder:"instructorID" %>
    </div>
  <% end %>
  <% end %>
  
  
  <div class="field form-group">
    <%= form.text_field :password, class:"form-control", placeholder:"Password" %>
  </div>
  
<br/>  
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
